*{
    /* text-decoration: none; */
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
    scroll-behavior: smooth;
}

body{

   
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.contenedor{
    width: 95%;
    /* max-width: 1200px; */
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}


/* .hamburguer{
        position: fixed;
      
        top: 10px;
        right: 30px;
        background: rgb(255, 255, 255);
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 5px;
         box-shadow: 0 0 6px rgb(0, 0, 0, .5); 

    } */
    /* .nav1 {
        background-image: linear-gradient(to right, rgba(237, 110, 161, 0) 0%, rgb(236, 105, 214) 100%);
         border-bottom: 0px solid transparent; 
     box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2); 
        position: fixed;
        top: 0;
        right: 0;
        width: 10vw;
        z-index: 100;
        display: flex;
        justify-content: space-evenly;
        height: 120px;
        width: 100%;
        margin-left: 300px;
        padding-top: 50px;
         transition: ease-in-out 0.5s;
       
        
    }
    .nav1 a{
        text-decoration: none;
        color: #ffffff; 
        font-family:  sans-serif ;
        font-size: 19px;
        margin-top: 5px;
    }

    .nav1 :hover{
        background-image: linear-gradient(15deg, #0d4566 0%, #207e73 100%);
        color: #ffffff;
       display: flex;
     align-items: center;
    text-align: center;
     width: auto;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 5px;
     margin: 0px 0px;
     padding: 0px 20px;
     
    } */

 


      
/* .fondo img{
    width: auto;
    height: 650px;
    border-left: 5px solid transparent; 
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2); 
    position: fixed;
    margin-left: 405px;
    display: flex;
    overflow: hidden;
} */
    /* .subtitulo1{
        text-align: center;
        font-weight: 300;
        color: #511053;
        font-family: Brush Script MT, Brush Script Std, cursive;
        margin: 40px;
        font-size: 70px;
    }
    
    
   .cristoweb h3{
       width: 490px;
       height: 60px;
       color: #ffffff;
    
       position: fixed;
       justify-content: space-between;
       font-size: 50px;
       padding-top: 22px;
       text-decoration: none;
      font-family: Apple Chancery, cursive;
       
   } */

   /* .cristoweb h3{
      
       text-align: center;
      
       margin-left: 30px;

   } */
   /* .cristoweb img{
        width: 120px;
       height: 90px;
       position: fixed;
      
      left: 20px;
      margin-bottom: 100px; 
    margin-top: 15px;
   } 


   .cristoteama h3{
    font-family: fantasy;
    color: #2a8d7dc0;
    justify-content: center;
    display: flex;
    font-size: 100px;
    text-align: center;
} */


   
   /* empieza el .fondo */

  
      .fondo{
        /* background-image: linear-gradient(to top, rgb(14, 103, 119) 0%, 
        rgb(11, 103, 119) 0%); */
        background: #34e89e;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       background-position-x:center ;
        }
      
  

  .contenido-slider{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
  
}
.contenido-slider> img{
   width: 800px;
   height: 600px;
   /* padding-top: 90px; */
   margin-top: 37px;
}
.contenido-slider div{
   width: 40%;
   text-align: center;
   display: block;
   margin-left: auto;
}
.contenido-slider h3{
    font-family: fangsong;
    color: #ffffff;
    font-size: 50px;
}

.contenido-slider h2{
    font-size: 25px;
    font-family: system-ui;
    color: #caa500;
    
}

.contenido-slider a:hover{
 text-decoration: none;
 cursor: pointer;

 
    color: #fff;
    font-size: 40px;

    background-image: linear-gradient(15deg, 
    #0d4566 0%, #207e73 100%);
    color: #ffffff;
   display: flex;
   display: none;
display: block;
align-items: center;
text-align: center;
 width: auto;
height: auto;
border: 1px solid #fff;
border-radius: 5px;
 margin: 0px 0px;
 padding: 0px 10px;

}

.contenido-slider a{
    color: white;
    font-size: 25px;

}





/* empieza audio */
.audio{
    margin-left: 50px;
}
   /* termina aqui */
  
  

    /* .menu-navegacion{
        border-radius: 5px;
        position: fixed;
        top: 0;
        right: 0;
        width: 10vw;
        height: 90%;
        background-image: linear-gradient(to top, #09203f7e 0%, #53789567 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: transform .3s ease-in-out;
        transform: translate(110%);
        box-shadow: 0 0 6px rgba(0, 0, 0, .5);

    } */
    .spread{
        transform: translate(0);
    }
    /* .menu-navegacion a{
        color: #fff;
        text-decoration: none; */
    /* }  */

     .titulo{
        box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
        font-size: 60px;
        margin-bottom: 15px; 

    }
 .copy{  
    font-weight: 300;
    font-size: 25px;
} 

/* sobre este sitio */

.contenedor-sitio{
    width: 100%;
    
    height: auto;
    overflow: hidden;
    /* border-top: solid 10px #2a8d7d; */
    margin: auto;
    padding: 60px 0;
    background-image: linear-gradient(-20deg, #2a8d7d 0%, #ffffff 100%);
 
}



.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #00394d;
    font-family: Brush Script MT, Brush Script Std, cursive;
    margin: 40px;
    font-size: 70px;
}





.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* llamando la clase del para poner uno al lado de otro 
foto y texto uno al lado de otro  */


.contenedor-servicio img{
    width: 40%;
}
.checklist-servicio{
    width: 45%;
   
    }


 .service{
    margin-bottom: 20px;
    
}
 .n-service{
    margin-bottom: 7px;
    color: #9f8ad0;
}
.service p{
    color: #ffffff;
    font-size: 22px;
    font-family:"Comic Sans MS", cursive, sans-serif ;
}
.number{
    display: inline-block;
    background-image: linear-gradient(to top, #008B8B 0%, #ffffff 100%);
    width: 30px;
    height: 30px;
    color: rgb(0, 150, 187);
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}


/* metodo de cristo */

.contenedor-sitio1{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    background-image: linear-gradient(-20deg, #9c3623 0%, #ffffff 100%);
 
}

.contenedor-sitio1 a{
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    margin-left: 200px;

}

.subtitulo1{
    text-align: center;
    font-weight: 300;
    color: #8B0000;
    font-family: Brush Script MT, Brush Script Std, cursive;
    margin: 40px;
    font-size: 70px;
}

.contenedor-servicio1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* llamando la clase del para poner uno al lado de otro 
foto y texto uno al lado de otro  */


.contenedor-servicio1 img{
    width: 40%;
}
.checklist-servicio1{
    width: 45%;
   
    }


 .service1{
    margin-bottom: 20px;
    
}
 .n-service1{
    margin-bottom: 7px;
    color: #9f8ad0;
}
.service1 p{
    color: #ffffff;
    font-size: 22px;
    font-family:"Comic Sans MS", cursive, sans-serif ;
}
.number1{
    display: inline-block;
    background-image: linear-gradient(to top, #3d1818 0%, #ffffff 100%);
    width: 30px;
    height: 30px;
    color: rgb(114, 15, 15);
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}
/* buton de descarga */
/* .number2{
    display: inline-block;
    background-image: linear-gradient(to top, #3d1818 0%, #ffffff 100%);
    width: 350px;
    height: 50px;
    padding-top: 10px;
    color: rgb(114, 15, 15);
    text-align: center;
    border-radius: 15%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
} */
/* cierra metodo de cristo */


/* empieza la galeria */

.gallery{
    background: #f2f2f2;

}


.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px; 
    
}
.img-galeria{
    object-fit: cover;
    width: 30%;
    height: 300px;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba( 0, 0, 0, .5 );
    cursor: pointer;

} 

.imagen-light{
   position: fixed;
    background: rgba( 0, 0, 0, .6 );
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);

}
.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: trasform .3s .2s;

}
.showImage{
    transform: scale(1);
}
.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
     cursor: pointer;
}
/* termina la galeria */


/* empieza la parte de mapa historica */

.subtitulo3{
    text-align: center;
    font-weight: 300;
    color: #800606;
    font-family: Brush Script MT, Brush Script Std, cursive;
    margin: 40px;
    font-size: 70px;
}


.contenedor-pdf{
    width: 100%;
    /* max-width: 1200px; */
    overflow: hidden;
    border-top:solid 15px   #ffffff;
    border-bottom: solid 10px #ffffff ;
    margin: auto;
    padding: 60px 0;
}

.contenedor-pdf{


    background-image: linear-gradient(-20deg, #533029 0%, #ffffff 100%);
    
}
.experts{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
   /* padding-right: 600px; */

}
.cont-expert{
    width: 35%;
    height: 400px;
    text-align: center;
    margin-bottom: 20px;
}




.cont-expert iframe{
    width: 500px;
    height: 375px;
    border-radius: 10px;
  
}
.n-expert{
    color: rgb(133, 17, 8);
    
    display: inline-block;
    font-size: 35px;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}
.n-expert1{
    font-family: cursive;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 25px;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;

}
/* termina aqui mapa historica */

 /* footer */
 footer{
   
    background-image: linear-gradient(to right, #223646 0%, #325d80 100%);
     padding-bottom: 0.1px;
    
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;

}
.contact-us{
    width: 40%;
    color: #fff;

}
.brand{
    font-weight: 500;
    font-size: 40px;
}
.brand+p{
    font-weight: 500;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;

}
.social-media-icon:hover{
    background: #fff;
    color: #c42d97;
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;

}
.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 8px;
    background: #fff;
    margin-bottom: 60px;
}

/* termina footer */


@media screen and (max-width:800px){
.menu-navegacion{
    width: 50vw;
}
.cristoweb img
{
    width: 20%;
    margin-bottom: 10px;
}
.titulo{
    font-size: 40px;
}
.contenedor-servicio img{
    width: 80%;
    margin-bottom: 40px;
}
.checklist-servicio{
    width: 80%;
}
.service{
    margin-bottom: 30px;

}
.agregar-imagen{
    width: 80%;
      
}
.img-galeria{
    width: 45%;

}
.cont-expert{
    width: 80%;
}
.footer-content{
    justify-content: center;
   
}
.social-media{
    width: 80%;
    justify-content: space-evenly;

}
.social-media-icon{
    margin-left: 0;
}
.social-media i{
    margin-left: 0;
}
.contact-us{
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
}

}
@media screen and (max-width:500px){
    .menu-navegacion{
        width: 65vw;
    }
    .cristoweb img{
        width: 15%;
        margin-bottom: 5px;
    }
    .hamburguer{
        top: 20px;
        right: 20px;
    }
    .titulo{
        font-size: 30px;

    }
    .subtitulo{
        font-size: 30px;
    }
    .agregar-imagen{
    width: 95%;
}
.img-galeria{
    width: 95%;
}
.social-media{
    width: 100%;

}
.contact-us{
    width: 90%;
}
}

